
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="images/golfprofile.png" class="img-responsive" width = '100px' alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
                Mr. Meeseks
					</div>
					<div class="profile-usertitle-job">
						      8
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">Crear A Match</button>
          <br>
        <br>
        <br>

        <button type="button" class="btn btn-success btn-sm">Unirme A Match</button>
				<br>
        <br>
<div class="profile-usertitle">
					<div class="profile-usertitle-name">
         <h4>Proximos Matches</h4>

      <ul>Miercoles 22 Octubre   7:00am</ul>
      <ul>Sabado 25 Octubre    9:00am</ul>
</div>
</div>